{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page'>

  {{! <header class='header'>
    <button class='button'>
      <img width='24px' height='24px' src='/svg/header_back.svg' />
    </button>
    <button class='button'>
      <img width='24px' height='24px' src='/img/header_avatar.png' />
    </button>
  </header> }}

  {{! <h1 class='title'>Мой блог</h1> }}

  {{! <main class='post__list'>
    <div class='post button'>
      <div class='post__header'>
        <div class='post__category-list'>
          <span class='post__category post__category--1'>Важное</span>
          <span class='post__category post__category--2'>Новое</span>
        </div>
        <span class='post__date'>25.01</span>
      </div>
      <p class='post__info'>К черту планировщик, нанимаем дизайнера и готовимся к презентации, как
        Джобс</p>
    </div>
    <div class='post button post--viewed'>
      <div class='post__header'>
        <div class='post__category-list'>
          <span class='post__category post__category--1'>Важное</span>
        </div>
        <span class='post__date'>24.01</span>
      </div>
      <p class='post__info'>Мы хотели чтобы в этом чате было около 150 человек чтобы сделать
        качественный пакет самопрезентаций.</p>
    </div>
  </main> }}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}