{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page'>
  {{! <header class='header'>
    <button class='button'>
      <img width='24px' height='24px' src='/svg/header_back.svg' />
    </button>
    <button class='button'>
      <img width='24px' height='24px' src='/img/header_avatar.png' />
    </button>
  </header>

  <h1 class='title'>Комьюнити</h1> }}

  {{! <div class='tab__list'>
    <button class='button'>
      <div class='tab__button tab__active'>База знаний</div>
    </button>
    <button class='button'>
      <div class='tab__button'>Информация</div>
    </button>
  </div> }}

  {{! <img src='/img/community_image.png' alt='Наше комьюнити' /> }}

  {{! <main class='post'>
    <strong class='post__title'>Что такое база знаний?</strong>
    <p class='post__text'>База знаний — база данных, содержащая правила вывода и информацию о
      человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база
      знаний также содержит информацию, являющуюся результатом решения предыдущих задач.
    </p>
  </main> }}

  {{! <button class='button post__button'>Перейти в комьюнити в Телеграм</button> }}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}